# ============================================================
# ZERO TRUST FRONTEND - VARIABLES DE ENTORNO
# ============================================================

# Desarrollo local
VITE_API_URL=http://localhost:3000/api

# En AWS utilizaremos Nginx como proxy hacia el Backend
# privado mediante VPC Peering.
#
# Para producción cambiaremos la variable por:
# VITE_API_URL=/api